@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ace1af;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  display: block;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

button {
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
}

button:disabled {
  background-color: #ebebe4;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-custom {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 2px solid green;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

input[type='radio']:checked + .radio-custom::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-custom {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 2px solid green;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

input[type='checkbox']:checked + .checkbox-custom::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: solid green;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.dialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: clamp(0px, 90vw, 500px);
  padding: 16px;
  background-color: #fff;
  transform: translate3d(-50%, -50%, 0);
  box-sizing: border-box;
  border-radius: 8px;
  line-height: 1.5;
}

.dialog-dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
